@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  *{
    box-sizing:  border-box;
    padding: 0;
    margin: 0;
   }
   body{
   font-family: 'Lato', sans-serif;
   color: #333;
   line-height: 1.6;
   }
   header ul{
      display: flex;
   }
   header a{
      color: tomato;
      padding: 10px;
      margin: 0 5px;
      text-decoration: none;
   }
   header{
     height: 50px;
     background-color: blue;
     
   }
   header h2{
      color: white;
   }
  header>.flex{
      justify-content: space-between;
   } 
   .container {
      max-width: 1100px;
      margin:  0 auto;
      overflow: auto;
      padding: 0 20px;
   }
   .flex{
      display: flex ;
      justify-content: center;
      align-items: center;
   }

   form{
     background-color: white;
     max-width: 500px;
     /* display: flex; */
     border-radius: 3px;
    }
   form> i {
     padding-left: 10px;
     color: red;
    }
    select{
     border: none;
     outline: none;
     padding-right: 5px
   }
   form>#search{
     max-width: 200px;
     border: none;
     outline: none;
    }
 
   nav>section{
      padding: 0 20px;
      margin: 10px 0;
      align-items: start;  
   }
   nav > .flex {
      justify-content: space-around;
      align-items: start;
   }
   
   .menu-carousel>article>figure>img{
      /* display: flex;
      justify-content: space-around;
      align-items: center; */
      /* border: 2px solid red; */
      height: 250px; width: 250px;
      margin: 10px; padding: 2px;
      border: 5px solid gray;
      border-radius:250px;
      background-color: rgb(236, 227, 227);
   }
   .menu-carousel>article>figure>img:hover{
      transform: scale(1.1);
      border: 5px solid red;
   }
   .menu-carousel>article>figure>figcaption{
      font-weight: bold;
      margin-left: 120px;
   }
   .brand-carousel>article>figure>img{
     height: 150px; width: 150px;
     margin: 10px; padding: 2px;
     border: 2px solid gray;
     box-shadow: 0px 0px 20px 2px gray;   
   }
   .brand-carousel>article>figcaption{
      font-weight: bold;
      margin-left: 120px;
   }
   .menu-carousel>a{
      visibility: hidden;
      margin: 10px;

     }
     .menu-carousel.menu-carousel:hover.men>a{
      text-align: center;
      text-decoration: none;
      color: white;
      height: 35px;width: 100%;
      visibility: visible;
     }
     
      .dr{
        display: inline-block;
        margin-right: 30px;
     }
     .dr>img{
      height: 250px; width: 250px;       
      margin: 40px;  padding: 2px;
      border-radius :20px;  margin-bottom: 10px;
     }

     .bb{
         position: relative;
         bottom:60px; left:50px;
         border-radius: 3px;
         height: 20px;width: 130px;
         background-color: blue;
         color:white;
     }
     pre{
      font-weight: bold;      
     }    
     .bp{
      font-weight: bold;
      width: 250px;
      margin-left: 40px;
     }
     .bm{
      font-weight: bold;
      text-align: right;
      margin-left: 40px;
      width: 250px;
     }
     .ic{
      border: 3px solid;
      background-color: green;
      border-radius: 8px;
      padding: 0px 7px;
      color: white;
      font-size: medium;
     }
     .bp>span{
      float: right;
     }
   
    #s{
      outline: none;
      padding-left: 20px;
      padding-right: 10px;
    }
    .eon{
      background-color:  rgb(236, 227, 227);
      height: 400px;
      width: 100%;
    }
     .eon>#explore{
      /* width:1400px; */
        width: 95%;
        height: 45px;
        margin-left: 20px;
        border: none;
        border-radius: 5px;
        padding-left:20px;
        font-weight: bolder;
        color: #474040;
      
     }
   
   footer nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
   }
   footer>main>article{
      margin: 10px;
      width: 200px;
    
   }
   footer>main>article>section{
      margin: 10px;
      color: white;
   }